body {
    font-family: "Noto Sans JP", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Radio Canada Big", sans-serif;
    color: rgb(78, 78, 78);
}

.min-h-screen {
    min-height: 90vh;
}

.center{
    width: 150px;
      margin: 40px auto;
      
    }

a {
    text-decoration: none;
    /* color: rgb(69, 98, 177); */
}

.link-decoration {
    color: black;
}

.bg-login {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.card-grow {
    transition: transform 0.2s ease-in-out;
    border: none;
}

.card-grow:hover {
    transform: scale(1.05);
}

/* .card {
    border: none;
    border-radius: 16px;
} */

.card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

/* .btn {
    border-radius: 48px;
} */

.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-item {
    margin-left: 10px; /* Tambahkan jarak antar item menu */
}

.card-bg {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.card-bg2 {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* CSS khusus untuk tab aktif dan tidak aktif */
.nav-item .btn {
    transition: background-color 0.3s ease, color 0.3s ease; /* animasi halus untuk transisi warna */
}

.nav-item .btn[aria-selected="true"] {
    background-color: #198754; /* warna hijau untuk tombol aktif */
    color: white; /* warna teks putih untuk tombol aktif */
    font-weight: 700;
}

.nav-item .btn[aria-selected="false"] {
    background-color: #f8f9fa; /* warna light untuk tombol tidak aktif */
    color: #212529; /* warna teks default untuk tombol tidak aktif */
}

/* .form-control {
    border-radius: 18px;
} */

.dropdown-menu {
    border: none;
}

.transparent-background {
    background-color: url('https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png');
    opacity: 50%;
}

.bg-image {
    
    background-image: url('https://kertamulya-padalarang.desa.id/assets/files/data/website-desa-kertamulya-3217082001/desa.jpg');
    height: 400px;
    object-fit: cover;
        
}

.number {
        /* Hide the arrows in number input */
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          appearance: textfield;
        }
}
